@using NhlDashboard.Controller.Frontpage

<Row>
    <Column>
        <Heading TextWeight="TextWeight.Bold" Size="HeadingSize.Is1" Padding="Padding.Is4.FromBottom">@currentPlayer
        </Heading>

        @if (currentPlayerHeadshot != null)
        {
            <Image Source="@currentPlayerHeadshot.Value" Width="Width.Rem(15)" />
        }
    </Column>
    <Column>
        @if (currentPlayerStats != null)
        {
            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                <PlayerStat Label="GOALS:">@currentPlayerStats.career.goals</PlayerStat>
                <PlayerStat Label="ASSISTS:">@currentPlayerStats.career.assists</PlayerStat>
                <PlayerStat Label="POINTS:">@currentPlayerStats.career.points</PlayerStat>
                <PlayerStat Label="+/-:">@currentPlayerStats.career.plusMinus</PlayerStat>
                <PlayerStat Label="PIM:">@currentPlayerStats.career.pim</PlayerStat>
            </Div>
        }
    </Column>

</Row>



@code {
    private string currentPlayer = "Connor McDavid";

    private PlayerStats.PlayerStatsJson? currentPlayerStats = null;
    private PlayerHeadshot.ByteJson? currentPlayerHeadshot = null;

    protected override async Task OnInitializedAsync()
    {
        currentPlayerStats = (PlayerStats.PlayerStatsJson)(await (new PlayerStats()).Perform(currentPlayer));
        currentPlayerHeadshot = (PlayerHeadshot.ByteJson?)(await (new PlayerHeadshot()).Perform(currentPlayer));
        base.OnInitialized();
    }
}